<!DOCTYPE html>
<html>
  <head>
    <title>Rainier Default</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:," />
  </head>
  <body>
    <div id="app"></div>
    <noscript>Sorry, js is not enabled</noscript>
    <script>window.__INITIAL_STATE__= {}</script>
  </body>
</html>
